Source: evdaemon-admin
Section: utils
Priority: extra
Maintainer: Tuomas Räsänen (tuos) <tuos@codegrove.org>
Build-Depends: cdbs (>= 0.4.49), debhelper (>= 7), python (>= 2.6)
Build-Depends-Indep: python-support (>= 0.9.0)
Standards-Version: 3.8.3
Homepage: http://codegrove.org/evdaemon-admin/

Package: evdaemon-admin
Architecture: all
Depends: ${python:Depends},
         ${shlibs:Depends},
         ${misc:Depends},
         python-gtk2
Description: Tools for evdaemon administration
 The Code Grove evdaemon-admin provides handy tools for configuring
 and controlling evdaemon, currently evdaemon-admin-gtk.
